body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* nav-styles */
.nav,
.sec-gamer {
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
}
.nav-icon,
.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-content {
  display: flex;
}

.nav-icon img {
  height: 40px;
  padding-right: 20px;
}
.nav-icon h3 {
  color: #0b0223;
  font-size: 3rem;

  font-weight: 700;
}
.nav-g {
  color: #ff42a5;
}
@media screen and (max-width: 576px) {
  .nav,
  .sec-gamer {
    width: auto;
    flex-direction: column;
  }
  .nav-icon,
  .nav-content {
    flex-direction: column;
    width: 100%;
  }

  .nav-a {
    width: 100px;
    margin-bottom: 20px;
  }
  .nav-btn {
    margin-top: 20px;
  }
}
/* nav-content */

.nav-a {
  text-decoration: none;
  color: #3c354f;

  text-align: center;

  font-size: 1.1rem;

  font-weight: 500;
  padding-right: 32px;
}
.nav-btn p {
  color: #3c354f;
  text-align: center;

  font-size: 1.1rem;

  font-weight: 500;
  padding: 0 24px 0 24px;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(11, 2, 35, 0.1);
}
.btn {
  cursor: pointer;
}

.btn-icon {
  margin-right: 16px;
}

/* header banner */
.banner-icon {
  display: flex;

  align-items: center;
}
.banner-icon img {
  height: 24px;
  margin-right: 12px;
}
.banner-text {
  margin-bottom: 40px;
}
.header-banner {
  margin: 0 240px;
  display: flex;
  justify-content: space-between;
}
.banner-left {
  width: auto;
  height: 700px;

  background-image: url("./images/Vector\ 2.png");
}

.banner-left-tile {
  color: #0b0223;

  font-size: 3rem;
  margin-top: 148px;
  margin-bottom: 0;
  font-weight: 600;
  width: 355px;
  margin-left: auto;
  margin-right: auto;
}
.goat {
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 6rem;

  font-weight: 800;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text {
  width: 355px;
  margin-left: auto;
  margin-right: auto;
}
.banner-btn {
  display: flex;
  width: 355px;
  margin-left: auto;
  margin-right: auto;
}
.primary-btn {
  color: #fff;
  font-weight: 600;
  padding: 21px 40px;
  border-radius: 48px;
  margin-right: 24px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.banner-image-1 {
  margin-bottom: 20px;
}
.banner-img-23-1 {
  margin-right: 100px;
}
.btn-2 {
  background: #4ec5f7;
}
@media screen and (max-width: 576px) {
  .header-banner {
    flex-direction: column;
    margin: 0 10px;
  }

  .banner-image-1 img {
    width: 400px;
    padding: 0 50px;
  }
  .banner-image-23 {
    display: flex;
    justify-content: space-around;
  }
  .banner-img-23-1 {
    width: 200;
    height: auto;
    margin: 0;
  }
  .banner-img-23-2 {
    width: 200px;
    height: auto;
    margin: 0;
  }
}
/* sec-gamer */

.sec-one-div-two {
  text-align: right;
  padding: 90px 0 90px 0;
}
.sec-one-div-one {
  padding: 50px 0 50px 0;
}
.sec-one-div-two h3 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.sec-one-describtion {
  color: #534c64;

  font-size: 1.1rem;

  font-weight: 400;
  max-width: 520px;
}
.btn-3 {
  margin-right: 0px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.sec-one-div-two p {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 576px) {
  .sec-gamer {
    padding: 0;
  }
  .sec-one-img {
    width: 100%;
    height: auto;
  }
  .sec-one-div-two {
    text-align: center;
    padding: 50px 0 50px 0;
  }
}
/* online-games */

.online-cards {
  display: flex;
  padding: 0 240px 0 240px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.online-card {
  width: 342px;
  margin-right:24px;
}
.img {
  height: 400px;
  background-color: black;
  border-radius: 16px;
  opacity: 1;
}
.primary-title {
  text-align: center;
  color: #0b0223;

  font-size: 3rem;

  font-weight: 700;
  padding: 0;
  margin-bottom: 0;
}
.primary-text {
  text-align: center;
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0;
  margin-bottom: 48px;
}

.online-color {
  font-size: 3rem;
  font-weight: 700;
}

.card-image {
  height: 400px;
}

.card-text {
  position: relative;
  bottom: 100px;
  color: #534c64;

  font-size: 1.3rem;

  font-weight: 500;
}
.overlay {
  position: relative;
  text-align: center;
  bottom: 250px;
  height: 100;
  width: 100;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}
.p {
  color: #ff42a5;
  font-size: 1.3rem;

  font-weight: 600;
}
.online-card:hover {
  .overlay {
    opacity: 1;
  }
  .card-image {
    opacity: 0.5;
  }
}

@media screen and (max-width: 576px) {
  .online-cards {
    flex-direction: column;
    padding: 0 50px;
    justify-content: none;
    margin-bottom: 100px;
  }
}
/* play-instantly */

.play-instantly {
  height: 400px;
  display: flex;
  padding: 0 240px 360px 430px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.play-inst-box-outer {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 260px;
}
.play-inst-box-inner {
  width: 350px;
  height: 350px;
}

.play-title {
  text-align: right;
}

.play-inst-text {
  text-align: right;
  color: #534c64;

  font-size: 1.1rem;

  font-weight: 400;
}
.play-card-big {
  height: 650px;
}
.play-card-small {
  position: relative;
  bottom: 300px;
  right: 25%;
}

@media screen and (max-width: 576px) {
  .play-instantly {
    height: 400px;
    flex-direction: column;
    padding: 0;
    /* justify-content: space-between; */
    margin-bottom: 100px;
  }
  .play-inst-box-outer {
    height: 700px;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .play-inst-text {
    text-align: center;
    color: #534c64;

    font-size: 1.1rem;

    font-weight: 400;
  }
  .play-title {
    padding: 0 50px 0 50px;
    margin: 0 20px;
    text-align: center;
  }
  .play-card-big {
    height: auto;
    width: 200px;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 150px;
  }
  .play-card-small {
    padding-left: 150px;
    height: auto;
    width: 100px;
    bottom: 200px;
    right: 10%;
  }
}
/* mini-cards */
.card-img {
  height: 60px;
  width: 60px;
}
.mini-card-text {
  color: #0b0223;

  font-size: 1.3rem;

  font-weight: 600;
}

.mini-cards-first,
.mini-cards-second {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  margin-left: 40px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ffffff;
}
.mini-cards-first {
  margin-bottom: 60px;
}
.mini-card-text {
  color: #0b0223;

  font-size: 1.3rem;

  font-weight: 600;
}
.cards:hover {
  border: 1px solid pink;
  cursor: pointer;
}
.mini-cards-sec {
  margin-bottom: 100px;
}
.card-img {
  margin-right: 10px;
}
@media screen and (max-width: 576px) {
  .mini-cards-first,
  .mini-cards-second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-content: center;
    padding-top: 200px;
    padding-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mini-cards-second {
    padding-top: 0;
  }

  .card-img {
    width: 50%;
    height: 50%;
  }
  .cards {
    justify-content: center;
    align-items: center;
  }
  .mini-card-text {
    color: #0b0223;

    font-size: 10px;

    font-weight: 600;
    margin: 0;
  }

  .mini-cards-sec {
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .card-img {
    margin-right: 10px;
  }
}

/* footer */

#footer-title {
  color: #fff;

  font-size: 3rem;

  font-weight: 700;
}
footer {
  background-image: url("./images/Group\ 14.png");
  background-color: #0b0223;
}
.footer-nav ul {
  display: flex;
  justify-content: center;
}
.footer-nav {
  margin: 0 0 60px 0;
}
.footer-nav li {
  list-style: none;
  margin: 10px 60px 10px 0;
}
.footer-nav li a {
  text-decoration: none;
  color: #fff;

  font-size: 1.1rem;

  font-weight: 600;
}
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.footer-icon {
  margin-right: 40px;
}
#footer-sec-nav-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
}
#footer-sec-nav {
  margin-bottom: 20px;
}
.last-line {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;

  font-size: 1rem;

  font-weight: 500;
}
.last {
  padding-bottom: 130px;
}
@media screen and (max-width: 576px) {
  .footer-nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  .footer-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 50px;
  }
  .footer-icon {
    margin-top: 20px;
  }
  #footer-sec-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 20px;
  }
  .last-line{
    width:100px:
  }
  footer .nav-icon{
    padding-top: 20px;
  }
}
