body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* nav-styles */
.nav,
.sec-gamer {
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
}
.nav-icon,
.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-content {
  display: flex;
}

.nav-icon img {
  height: 40px;
  padding-right: 20px;
}
.nav-icon h3 {
  color: #0b0223;
  font-size: 3rem;

  font-weight: 700;
}
.nav-g {
  color: #ff42a5;
}
/* nav-content */

.nav-a {
  text-decoration: none;
  color: #3c354f;

  text-align: center;

  font-size: 1.1rem;

  font-weight: 500;
  padding-right: 32px;
}
.nav-btn p {
  color: #3c354f;
  text-align: center;

  font-size: 1.1rem;

  font-weight: 500;
  padding: 0 24px 0 24px;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(11, 2, 35, 0.1);
}

.btn-icon {
  margin-right: 16px;
}

/* header banner */

.header-banner {
  margin: 0 240px;
  display: flex;
  justify-content: space-between;
}
.banner-left {
  width: 900px;
  height: 700px;

  background-image: url("./images/Vector\ 2.png");
}

.banner-left-tile {
  color: #0b0223;

  font-size: 3rem;
  margin-top: 148px;
  margin-bottom: 0;
  font-weight: 600;
  width: 355px;
  margin-left: auto;
  margin-right: auto;
}
.goat {
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 6rem;

  font-weight: 800;

  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text {
  width: 355px;
  margin-left: auto;
  margin-right: auto;
}
.banner-btn {
  display: flex;
  width: 355px;
  margin-left: auto;
  margin-right: auto;
}
.primary-btn {
  color: #fff;
  /* font-size: 1.5rem; */
  font-weight: 600;
  padding: 21px 40px;
  border-radius: 48px;
  margin-right: 24px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.banner-image-1 {
  margin-bottom: 20px;
}
.banner-img-23-1 {
  margin-right: 100px;
}
.btn-2 {
  background: #4ec5f7;
}

/* sec-gamer */

.sec-one-div-two {
  text-align: right;
  padding: 90px 0 90px 0;
}
.sec-one-div-one {
  padding: 50px 0 50px 0;
}
.sec-one-div-two h3 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.sec-one-describtion {
  color: #534c64;

  font-size: 1.1rem;

  font-weight: 400;
}
.btn-3 {
  margin-right: 0px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.sec-one-div-two p {
  margin-top: 0;
  margin-bottom: 0;
}
